body {
    display: grid;
    gap: 25px;
    margin: 15px;
    grid-template-rows: auto 1fr;
    grid-template-columns: min-content min-content auto;
}

.hidden {
    display: none;
}

.error {
    color: red;
}

.toolbar {
    grid-row: 1 / span 2;
    grid-column: 1;
    image-rendering: pixelated;
}

.credits {
    grid-row: 2;
    grid-column: 3;
    margin: 0 auto;
}

img {
    user-select: none;
    pointer-events: none;
}

.tool {
    display: flex;
}

.tool label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.tool:not(:first-child) label {
    border-top: none;
}

.options {
    grid-row: 1 / span 2;
    grid-column: 2;

    display: flex;
    flex-direction: column;
}

.options input {
    width: 100%;
    box-sizing: border-box;
}

.level {
    grid-row: 1;
    grid-column: 3;
}

.level table {
    width: 100%;
    height: fit-content;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: #181425;
}

.level tr,
.level td {
    padding: 0;
}

.level td {
    position: relative;
}


.border {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

tr:not(:first-child) .border {
    border-top: 1px solid black;
}

td:not(:first-child) .border {
    border-left: 1px solid black;
}

.cell {
    user-select: none;
    position: relative;
    aspect-ratio: 1 / 1;
    image-rendering: pixelated;
}

.cell div {
    position: absolute;
    z-index: 1;
}

.cell .background {
    z-index: 0;
}

.ghost {
    opacity: 50%;
}

.border {
    z-index: 1;
}

:has(.selected)>.border {
    z-index: 3;
}

:has(.selected.top)>.border {
    border-top: 1px solid cyan;
}

:has(.selected.left)>.border {
    border-left: 1px solid cyan;
}

:has(.selected.bottom)>.border {
    border-bottom: 1px solid cyan;
}

:has(.selected.right)>.border {
    border-right: 1px solid cyan;
}