body {
    display: flex;
    justify-content: space-evenly;
}

img {
    user-select: none;
    pointer-events: none;
}

.tool {
    display: flex;
}

.tool label {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.tool:not(:first-child) label {
    border-top: none;
}

.options {
    display: flex;
    flex-direction: column;
}

.options input {
    width: 50px;
}

.level {
    width: 80%;
}

.level table {
    width: 100%;
    height: fit-content;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: #181425;
}

.level table tr,
.level table td {
    padding: 0;
    border: 1px solid black;
}

.cell {
    position: relative;
    aspect-ratio: 1 / 1;
    user-select: none;
}

.cell div {
    position: absolute;
}

.ghost {
    opacity: 50%;
}