<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>404</title>

	<link rel="stylesheet" href="/header.css">
	<link rel="stylesheet" href="/404.css">

</head>

<body>
	<header>
		<span class="user">
			{{#if user}}
			<a href="/user?id={{user.id}}" class="username">{{user.username}}</a>
			{{else}}
			<a href="/login">Login</a>
			<a href="/signup">Signup</a>
			{{/if}}
		</span>
		<nav>
			<a href="/">Home</a>
		</nav>
	</header>
	<hr>
	<main>
		<h1>Error 404: {{page}} not found</h1>
	</main>
</body>

</html>