<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="style.css">

    <script src="level.js" defer></script>
    <script src="tool.js" defer></script>
    <script src="tile.js" defer></script>
    <script src="sprite.js" defer></script>
    <script src="player.js" defer></script>
    <script src="background.js" defer></script>
    <script src="compile.js" defer></script>
    <script src="decompile.js" defer></script>
    <script src="main.js" defer></script>
</head>

<body>
    <div class="toolbar">
        <h2>Tools</h2>
        <div class="misc">
            <div class="tool">
                <label for="select">Select</label>
                <input type="radio" name="tool" id="select" onclick="tool_select(null)" checked>
            </div>
        </div>
        <h3>Player</h3>
        <div class="player"></div>
        <h3>Objects</h3>
        <div class="tiles"></div>
        <h3>Items</h3>
        <div class="sprites"></div>
        <h4>Background</h4>
        <div class="background"></div>
    </div>
    <div class="options">
        <h2>Options</h2>
        <button onclick="clear_level()">Clear</button>

        <label for="width">Width</label>
        <input type="number" name="width" id="width" min="1" value="40" onchange="curr_level?.resize()">
        <label for="height">Height</label>
        <input type="number" name="height" id="height" min="1" value="20" onchange="curr_level?.resize()">
        <label for="dash_count">Dashes</label>
        <input type="number" name="dash_count" id="dash_count" min="0" value="1"
            onchange="curr_level?.update_inherited()">

        <h3>Transitions</h3>
        <label for="level_top">North Exit</label>
        <select name="level_top" id="level_top" onchange="curr_level?.update_transitions()">
            <option value="">Death</option>
        </select>
        <label for="level_bottom">South Exit</label>
        <select name="level_bottom" id="level_bottom" onchange="curr_level?.update_transitions()">
            <option value="">Death</option>
        </select>
        <label for="level_left">West Exit</label>
        <select name="level_left" id="level_left" onchange="curr_level?.update_transitions()">
            <option value="">Death</option>
        </select>
        <label for="level_right">East Exit</label>
        <select name="level_right" id="level_right" onchange="curr_level?.update_transitions()">
            <option value="">Death</option>
        </select>

        <h3>Level</h3>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" onchange="curr_level?.rename()">
        <button onclick="delete_level()">Delete</button>

        <label for="levels">Level</label>
        <select name="levels" id="levels" onchange="select_level(this.value)"></select>
        <button onclick="new_level()">New</button>

        <label for="start_level">Start</label>
        <select name="start_level" id="start_level"></select>

        <h2>Save</h2>
        <button onclick="save()">Save</button>
        <button onclick="load()">Load</button>
        <button onclick="download()">Export</button>
        <button onclick="upload_input.click()">Import</button>
        <input type="file" name="upload_input" id="upload_input" accept=".json" class="hidden" onchange="upload()">
        <button onclick="log_level()">Log</button>

        <p class="error hidden" id="error">Error: <span id="error_msg"></span></p>
    </div>
    <div class="level"></div>
    <div class="credits">
        <h2>Artist Credit:</h2>
        <ul>
            <li>Dungeon tile set - David G / Incol Games on <a
                    href="https://incolgames.itch.io/dungeon-platformer-tile-set-pixel-art">itch.io</a></li>
            <li>Player sprites - ZeggyGames / Zegley on <a
                    href="https://zegley.itch.io/2d-platformermetroidvania-asset-pack">itch.io</a></li>
            <li>Purple gem - Lunarnia on <a href="https://lunarnia.itch.io/pixel-purple-gem">itch.io</a></li>
            <li>Flag animation - ankousse26 on <a href="https://ankousse26.itch.io/free-flag-with-animation">itch.io</a>
            </li>
        </ul>
    </div>
</body>

</html>