<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>

	<link rel="stylesheet" href="/header.css">
	<link rel="stylesheet" href="/error.css">
</head>

<body>
	<header>
		<nav>
			<a href="/">Home</a>
			<a href="/signup">Signup</a>
		</nav>
	</header>
	<hr>
	<main>
		<form action="/auth/login" method="post">
			<label for="username">Username</label>
			<input type="text" name="username" id="username" required><br>
			<label for="password">Password</label>
			<input type="password" name="password" id="password" required><br>
			<input type="submit" value="Login">
		</form>
		{{#if error}}
		<h4 class="error">{{error}}</h4>
		{{/if}}
	</main>
</body>

</html>